.page-description {
  background: #171717;
  min-height: 150px;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}
.page-description:after {
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  height: 0;
  width: 0;
  border-right: 100vw solid #171717;
  border-bottom: 5vw solid transparent;
  border-top: 0px solid transparent;
  overflow: hidden;
}
.description-title{
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.description-title h1{
  color: #f8e71d;
  font-size: 1.7em;
  font-weight: bold;
}
.description-title img{
  width: 51.2px;
  height: 51.2px;
  margin-right: 20px;
}
.back-button{
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}
.back-button .arrow {
  border: solid #f8e71d;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position: relative;
  margin-right: 10px;
}
.back-button .rightArrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.back-button .leftArrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}