footer{
  width: 100%;
  min-height: 150px;
  margin-top: 100px;
  background-color: #171717;
  padding: 10px 150px 30px 150px;
  color: #fff;
  background-image: url('/footerHouse.png');
  background-repeat: no-repeat;
  background-position: 90% 20px;
  background-size: 400px;
}
footer .footer-info{
  text-align: center;
  margin-bottom: 40px;
}
footer .footer-info .contact-us{
  font-size: 1.5em;
  font-weight: bold;
}
footer .footer-info .contact-description{
  font-size: 1em;
}
footer .social-icons{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
footer .social-icons a{
  margin:0px 10px 0px 10px;
}
footer .social-icons a img{
  width: 25px;
}
footer .social-icons a:hover{
  width: 25px;
  transform: scale(1.2);
}
@media screen and (max-width: 680px) {
  footer{ 
    padding: 5px 25px 5px 25px;
  }
}