footer{
  width: 100%;
  min-height: 150px;
  margin-top: 100px;
  background-color: #171717;
  padding: 10px 150px 10px 150px;
  color: #fff;
}
footer .footer-info{
  text-align: center;
  margin-bottom: 40px;
}
footer .footer-info .contact-us{
  font-size: 1.5em;
  font-weight: bold;
}
footer .footer-info .contact-description{
  font-size: 1em;
}
@media screen and (max-width: 680px) {
  footer{ 
    padding: 5px 25px 5px 25px;
  }
}