.carousel-container{
  position: relative;
}
.carousel-container .carousel-images{
  display: flex;
  max-width: 100%;
  overflow:hidden;
}
.carousel-container .carousel-images img{
   min-width: 100%;
   width: 100%;
}
.carousel-container .carousel-controls{
  position: absolute;
  background-color: #171717;
  right: 0px;
  bottom: 0px;
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.carousel-container .carousel-controls button{
  border:none;
  background:none;
  color: #ffffff;
  cursor: pointer;
  width: 50%;
  font-size: 1.5em;
  outline: none;
}
.carousel-container .carousel-controls button:hover{
  color: #F8E71D;
}