html,body{
  margin: 0;
  padding: 0;
  background: #f4f5f7;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}
a{
  text-decoration: none;
  color:#000;
}
.container-info{
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 25px;
}
.page-container{
  max-width: 1800px;
  margin: 0 auto;
  min-height: 500px;
}
.center{
  display: flex;
  justify-content: center;
}
.btn{
  border:none;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #f8e71d;
  font-weight: bold;
  border-radius:5px;
  transition: 0.2s;
  cursor: pointer;
  outline: none;
}
.btn:hover{
  transform: scale(1.05);
}
.btn-small{
  min-width: 100px;
}
.btn-medium{
  min-width: 180px;
}
.bold{
  font-weight: bold;
}
@media screen and (max-width: 680px) {
  html,body{
    font-size: 14px;
  }
  .container-info{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
  }
}